# Программирование на языке Python
## Семинар 4. Циклы
#### Задача 1
Напишите код, который бы выполнял операцию транспонирования матрицы. Решите задачу двумя способами.

In [1]:
# наш код здесь

#### Задача 2
В Excel существует функция [СЦЕПИТЬ](https://support.microsoft.com/ru-ru/office/%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F-%D1%81%D1%86%D0%B5%D0%BF%D0%B8%D1%82%D1%8C-8f8ae884-2ca8-4f7a-b093-75d702bea31d). Она позволяет объединять две или более текстовые строки в одну.

Напишите код, который будет принимать на вход текстовые колонки (разделенные символом `'\n'`) до тех пор, пока не будет введена пустая строка. Затем эти колонки должны быть "склеены" в одну через пробел и выведены для пользователя.

```
input:
строка1\nстрока2\nстрока3
row1\nrow2\nrow3


output:
строка1 row1
строка2 row3
строка3 row3
```

In [2]:
# наш код здесь

#### Задача 3

Дан текстовый файл (`Super.csv`). Необходимо создать словарь, в котором ключами будут названия колонок, а значениями - списки значений для этих колонок.

In [3]:
with open('Super.csv', 'r') as infile:
    big_string = infile.read()

In [4]:
# наш код здесь

#### Задача 4
Напишите код, который бы принимал на вход словарь, полученный выше, и возвращал бы эту таблицу в HTML-формате. Должны быть использованы теги \<table>, \<thead>, \<tbody>, \<tr>, \<th> и \<td>.

In [5]:
# наш код здесь

In [31]:
N = 4 
for i in range(1, N + 1):
    for j in range(1, i + 1):
        print(N, sep='', end='')
    print()

4
44
444
4444

In [32]:
weight_of_products = [10, 42.4, 240.1, 101.5, 98, 0.4, 0.3, 15]
max_weight = 100
num = 1
for weight in weight_of_products:
    if weight < max_weight:
        print("Product {}, weight: {} -passenger car".format(num, weight))
    else:
        print("Product {}, weight: {} -truck".format(num, weight))
    num += 1

Product 1, weight: 10 -passenger car
Product 2, weight: 42.4 -passenger car
Product 3, weight: 240.1 -truck
Product 4, weight: 101.5 -truck
Product 5, weight: 98 -passenger car
Product 6, weight: 0.4 -passenger car
Product 7, weight: 0.3 -passenger car
Product 8, weight: 15 -passenger car

In [35]:

word_list = ["My", "name", "is", "Maxim"]
# str = ""
for i in word_list:
    # str += i

# print(str)

MynameisMaxim

In [36]:
num_list = [1, 10, 3, -5]
num_list.sort()

for i in num_list:
    print(i)

-5
1
3
10

In [37]:
my_list = list(range(0, 100, 3))
count_even = 0
for i in my_list:
    if i % 2 == 0:
        count_even += 1
print(count_even)

17

In [46]:
count_str = 0
my_list = [True, 1, -10, 'hello', False, 'string_1', 123, 2.5, [1, 2], 'another']
for i in my_list:
    if type(i) == type(str):
        count_str += 1
print(count_str)

3

In [59]:
i = 1
n = 0
while i <= 1000:
    i *= n + 1
    n += 1

print(i)

5040

In [62]:
itr = 0
n = 1
i = 3
while 3 ** n < 1000:
    n += 1
    itr += 1

print(itr)

6

In [73]:
years = 0
summ = 1000
end = 3000.0

while summ < end:
    summ = summ + (summ * 8) / 100
    years += 1

print(years)

15

In [74]:
max_people = 5
i = 0
while i < max_people:
    i += 1
    print("There are", i, "people in the room")

There are 1 people in the room
There are 2 people in the room
There are 3 people in the room
There are 4 people in the room
There are 5 people in the room

In [78]:
scores = [
    [0.5, 0.6, 0.6, 0.65, 0.3],
    [0.55, 0.7, 0.9, 0.5, 0.5]
]

count = 0
for i in range(5):
    for j in range(4):
        count += 1

scores_lst = []
for row in scores:
    for score in row:
        scores_lst.append(score)
print(scores_lst)

20

In [103]:
test_matrix1 = [
    [1, 2, 3],
    [7, -1, 2],
    [123, 2, -1]
]
test_matrix2 = [
    [1, 2, 3],
    [7, -1, 2],
    [123, 2, -1],
    [123, 5, 1]
]
a = type(int)
f = type(bool)
for i in test_matrix1:
    a = len(i)
    f = (a != len(test_matrix1))
    if f:
        print("Matrix not square")
        break

if f == False:
    print("Matrix square")

Matrix not square

In [105]:
user_dynamics = [-5, 2, 4, 8, 12, -7, 5]

for index, value in enumerate(user_dynamics):
    print(index + 1, value)

1 -5
2 2
3 4
4 8
5 12
6 -7
7 5

In [115]:
str_list = ['Hello', 'my', 'name', 'is', 'Ezeikel', 'I', 'like', 'knitting']
cut_str_list = []
for index, value in enumerate(str_list):
    if len(value) < 3:
       cut_str_list.append([index, value]) 
    else:
        cut_str_list.append([index, value[:3]])

print(cut_str_list)

[[0, 'Hel'], [1, 'my'], [2, 'nam'], [3, 'is'], [4, 'Eze'], [5, 'I'], [6, 'lik'], [7, 'kni']]

In [25]:
sentence = 'A roboT MAY Not injure a humAn BEING or, tHROugh INACtion, allow a human BEING to come to harm'
small_sentence = sentence.lower()
out_punct_sentence = small_sentence.replace(",", "")
word_list = out_punct_sentence.split(" ")
word_dict = dict()

for word in word_list:
    if word in word_dict:
        word_dict[word] += 1
    else:
        word_dict[word] = 1

print(word_dict)

{'a': 3, 'robot': 1, 'may': 1, 'not': 1, 'injure': 1, 'human': 2, 'being': 2, 'or': 1, 'through': 1, 'inaction': 1, 'allow': 1, 'to': 2, 'come': 1, 'harm': 1}

In [32]:
str_list = ["text", "morning", "notepad", "television", "ornament"]
symbol_to_check = 't'
new_word_dict = dict()
for i in str_list:
    new_word_dict[i] = i.count(symbol_to_check)


print(new_word_dict)

{'text': 2, 'morning': 0, 'notepad': 1, 'television': 1, 'ornament': 1}